#banner 
    .banner_content 
        %h1 File Cabinet 
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner 
        .wrapper 
            .callout 
                %h2 Organize 
                %p Truffaut gochujang next level try-hard man braid, kinfolk sriracha offal mixtape. Organic salvia tumeric iceland, mustache jean shorts vinyl everyday carry tote bag master cleanse taxidermy. DIY tote bag coloring book af unicorn meditation banh mi, bushwick celiac kombucha. Truffaut pop-up trust fund intelligentsia raclette wayfarers hashtag ethical austin vaporware affogato dreamcatcher man braid fashion axe 90's.

#bottom_cta 
    .wrapper 
        %h2 Go Ahead!
        %br/
        %button= link_to "Join Now", new_user_registration_path